<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

 RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} \.(gif|jpe?g|png|ico|mp4|svg|webp)$
    RewriteRule ^(.*)$ https://maihong.ru/$1 [R,NC,L]

</IfModule>